/* Versão beta */
@charset "UTF-8";

/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Titillium Web', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@font-face {
    /*https://www.dafont.com/pt/social-media-circled.font -> guia de icones da fonte*/
    font-family: socialMedia;
    src: url(../fontes/social_media_circled/Social\ Media\ Circled.otf);
}

/* stilo da aba da logo */

div#aba-logo{
    position: relative;
    padding: 5px;
    height: 320px;
    /*width 1299 padrão*/
    max-width: 1000px;
    min-width: 400px;
    margin: -65px auto;
}

div#aba-logo div#fundo{
    background: url("../imagens/acolasa-fundoDeitado2.jpeg") no-repeat;
    position: absolute;
    z-index: -1;
    background-position: 50% 45%;
    background-size: 100%;
    opacity: 0.5;
    /*padrão 100%*/
    width: 100%;
    height: 100%;
    margin: auto;

}


div#aba-logo div#logo1{
    position: static;
    margin: 10% 10% auto;
    /*margin: 10% 20% auto 10%;
    position: absolute;
    top: -20px;
    left: 15%;*/
}
div#aba-logo div#logo1 img#logo-acolasa{
    width: 310px;
}

div#aba-logo div#logo2{
    position: absolute;
    top: 14%;
    right: 10%;
}

div#aba-logo div#logo2 img#logo-victor{
    width: 300px;
}

div#aba-logo h1{
    position: absolute;
    margin: 4% 35% auto;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 2em;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.616);
}

/*CABEÇALHO*/
header#cabecalho h1#nome{
    background-color: #6C9923;
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.493);
    margin: 30px 10px 50px 10px;
    padding: 20px;
    font-size: 2.4em;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
}

/*PRINCIPAL*/
body{
    font-family: Arial, Helvetica, sans-serif;
    /*overflow-x: hidden; vertical é y e horizonta é x*/
    /*background-image: linear-gradient(to left, #61E294, #EDAFB8 );*/
    
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

button#whats{
    background-color: #52ce5f;
    position: fixed; 
    /* top-66 e left-8 padrão */
    top: 90%;
    left: 1000px;
    padding: 10px;
    z-index: 10000000;
    max-width: 250px;
    max-height: 60px;
    width: 235px;
    height: 40px;
    padding: 22px;
    border-radius: 20px;
    border-style: double;
    border-color: #2d7434;
    cursor: pointer;
    transition: 1.5s;
}

button#whats:hover {
    background-color: #368d3f;
}

button#whats span{
    position: absolute;
    color: white;
    font-family: socialMedia;
    font-size: 5em;
    top: -36px;
    left: -12px;
}

button#whats p{
    color: white;
    position: absolute;
    top: 7px;
    left: 60px;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
}

/*CORPO&RODAPE*/
section#corpo{
    padding: 5px;
   /* 60px auto -> padrão*/
    margin: 0px auto;
    max-width: 1300px;
    /*max-inline-size: 500px; -> bom para celular*/
}



section.rodape img#acolasa-footer{
    margin-top: 30px;
}

section.rodape img#victor-footer{
    margin-top: 45px;
    margin-left: -20px;
    width: 350px;
}


section.rodape ul#contato a{
    color:white; 
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    transition: 1s;
}

section.rodape ul#contato a:hover{
    color: #008bd2;
}

section.rodape ul#contato span{
    font-family: socialMedia;
    font-size: 1.4em;
}

section.rodape div#final{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

article#noticia-principal img#imagem1{
    justify-content: center;
    margin: auto 40px auto;
    padding: 15px;
}

/*ARTIGO*/
article#noticia-principal{
    max-width: 1500px;
    /*serve para celular?*/
    min-width: 400px;
}

article#noticia-principal h1{
    /*color: #66942f;*/
    color: #66942f;
    font-size: 2.1em;
    font-family: 'Titillium Web', sans-serif;
    margin: 10px auto 5px auto;
    text-align: center;
}

article#noticia-principal h2{
    font-size: 1.6em;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
    text-align: left;
    margin: 90px 54px auto;
}
article#noticia-principal p, article#noticia-principal ul{
    color: #727272;
    font-size: 0.9em;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    margin: 20px 55px auto 60px;
}

article#noticia-principal ul#redesSociais ul#acolasa, ul#victor{
    list-style: none;
}

article#noticia-principal ul#redesSociais ul#acolasa a, ul#victor a{
    text-decoration: none;
    color: #008bd2;
    font-size: 1em;
}

article#noticia-principal ul#redesSociais ul#acolasa a:hover, ul#victor a:hover{
    color: #025179;
}

article#noticia-principal ul#redesSociais li#title{
    list-style: none;
    font-size: 1.6em;
}

article#noticia-principal ul span{
    font-family: socialMedia;
    font-size: 2em;
}

section#camisa{
    position: relative;
    margin: 20px auto;
    width: 300px;
    height: 280px;
    border-radius: 10px;
    border: 2px dashed #66942f;
    background-color: #b2b2b2;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.555);
    transition: transform 2s;
    transform: translateX(0) scale(1);
}

section#camisa:hover,
section#camisa:focus{
    transform: translate(10px) scale(1.35);
    animation: none;
}

section#camisa img#imagem-camisa{
    width: 200px;
    position: absolute;
    top: 5px;
    left: 18%;
    animation: ease-in;
}

section#camisa img#imagem-camisa:hover,
section#camisa img#imagem-camisa:focus{
    transform: translate(10px) scale(1.2);
    transition: transform 2s;
    left: 15%;
}

section#camisa button#contribuir{
    position: absolute;
    left: 26%;
    margin: 230px auto;
    background-color: #008bd2;
    padding: 8px;
    border-radius: 5px;
    border-color: #014c72;
    width: 150px;
    cursor: pointer;
}

section#camisa button#contribuir:hover{
    color: white;
}

.meio{
    display: flex;
    justify-content: center;
}